body {
  margin: 0;
  background-color: #f8cbdb;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heart-section {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  height: 100px;
  width: 100px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s linear infinite;
  cursor: pointer; 
}

@keyframes heart {
  0% 
  { 
    transform: rotate(-45deg) scale(1.0); 
  }

  80%
  { 
    transform: rotate(-45deg) scale(1.3); 
  }
  100% 
  { 
    transform: rotate(-45deg) scale(0.9); 
  }
}

.heart:before{
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background: #f20044;
  border-radius: 50px;
  box-shadow: -10px 10px 90px #f20044;
}

.heart:after{
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background: #f20044;
  border-radius: 50px;
  box-shadow: -10px 10px 90px #f20044;
}

.heart:before { top: -50%; }
.heart:after { right: -50%; }
.gif-container {
  position: absolute;
}

#gif1 {
  top: 20px;
  left: 20px;
}

#gif2 {
  top: 20px;
  right: 20px;
}

#gif3 {
  bottom: 20px;
  left: 20px;
}

#gif4 {
  bottom: 20px;
  right: 20px;
}

.gif-container img {
  width: 400px;
  max-width: 90%;
  height: auto;
  border: rgb(240, 111, 206) solid 5px;
}

.gif-container p {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-style: italic;
  color: #333;
}

.qr-wrapper {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.qr-container {
  position: fixed;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
}
.qr-container img {
  width: 200px;
  max-width: 90%;
}
#qr {
  scale:1;
  display: block;
  position: relative;
  bottom:5%;
  max-width: 200px;
}
@media (max-width: 768px) {
  .gif-container img {
    width: 180px;
  }
}
